:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 84px; /* Offset for fixed navbar */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
